.App {
  color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 10px 10px;
  display: inline-block;
}

.card .side {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 150px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / .2);
}

.front {
  margin-right: 10px;
}
.front .title {
  position: relative;
  height: 32px;
  width: 100%;
}

.title .p {
  position: absolute;
  left: 0;
  top: 0;
}

.title .n {
  position: absolute;
  left: 0;
  top: 16px;
}

.title .m {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 32px;
  font-size: 20px;
}

.element {
  margin-top: 8px;
}

.symbol {
  margin-top: -8px;
  height: 60px;
  font-size: 60px;
}

.element .e div {
  display: inline-block;
}

.front .bottom, .back .type {
  position: absolute;
  bottom : 15px;
  left: 10px;
  right: 10px;
  text-align: center;
  font-size: 11px;
}

.intro {
  margin: 5px 0;
  padding: 5px 0;
  text-align: left;
  font-size: 12px;
}

